body {
  /*Style*/
  background-color: var(--nml-gry);
}

.ctn {
  /*Position*/
  position: absolute;

  /*Dimensions*/
  width: 100vw;
  height: 100vh;

  /*Flex*/
  gap: 20px;
}

.ctn span {
  /*Texte*/
  font-size: 30px;
}

.loading_ctn {
  /*Position*/
  position: relative;

  /*Dimensions*/
  height: 140px;
  width: 140px;

  /*Style*/
  border-radius: 70px;
  background: linear-gradient(to bottom right, var(--scd), var(--prm));
}

.lot1,
.lot2 {
  /*Position*/
  position: absolute;

  /*Dimensions*/
  width: 100%;
  height: 100%;
}

.lot2 {
  /*Position*/
  transform: rotate(180deg);
}

svg {
  /*Position*/
  position: absolute;

  /*Autre*/
  overflow: visible;
}

.svg {
  @for $i from 1 through 3 {
    &#{$i} {
      /*Dimensions*/
      width: (5-$i) * 30px;
      height: (5-$i) * 30px;

      /*Animation*/
      animation: loading + $i 2000ms infinite;
    }
  }
}

circle {
  /*Cercle*/
  fill: none;
  stroke-width: 7px;
  stroke-linecap: round;
  stroke: var(--nml-gry);
}

.circle {
  @for $i from 1 through 3 {
    &#{$i} {
      /*Cercle*/
      stroke-dasharray: 800 - $i * 100;
      stroke-dashoffset: 680 - $i * 75;
    }
  }
}

/*ANIMATION*/
@keyframes loading1 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes loading2 {
  0% {
    transform: rotate(720deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes loading3 {
  0% {
    transform: rotate(1080deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
